<h1 mat-dialog-title >acheter</h1>
<div mat-dialog-content style="height: 280px" >
  <form  action="" method="post" (ngSubmit)="onSubmit(f)" #f="ngForm" class="login-form" ngNativeValidate>
   <h4>price:{{data.bo.prix * data.nb}}$</h4>
    <div class="form-group">
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-bank fa" aria-hidden="true"></i></span>
          <input ngModel  #number="ngModel" type="number"  class="form-control" name="nb" id="nb"  placeholder="Enter your card number"  minlength="6" required/>

        </div>
      </div>
    </div>
    <span class="help-block" *ngIf="!number.valid && number.touched">Please enter a valid card number!</span>
    <div class="form-group">
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
          <input ngModel type="password" #password="ngModel" class="form-control" name="password" id="password" minlength="6" placeholder="Enter your Password" required/>

        </div>
      </div>
    </div>
    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
    <div mat-dialog-actions>
      <button style="margin-left: auto;margin-right: auto" class="btn btn-primary " mat-button mat-dialog-close>Cancel</button>
      <button type="submit" style="margin-left: auto;margin-right: auto" class="btn btn-primary " mat-button >acheter</button>
    </div>
  </form>
</div>


