<!-- Slider start -->
<section id="home" class="no-padding">
  <div id="main-slide" class="cd-hero">
  <ul class="cd-hero-slider">
    <li class="selected">
      <div class="overlay2">
        <img class="" src="assets/images/slider/bg1.jpg" alt="slider">
      </div>
      <div class="cd-full-width">
        <h2>BOOKS</h2>
        <a [routerLink]="'/books'"  class="btn btn-primary solid cd-btn">Learn More</a>
      </div> <!-- .cd-full-width -->
    </li>
  </ul>
</div> <!-- .cd-slider-nav -->
</section>
